CLIENT_ID=XXXXX.apps.googleusercontent.com
CLIENT_SECRET=XXXX-YY
PROVIDER=google
EMAIL_DOMAIN=example.com
REDIRECT_URL=https://wiki.example.com/oauth2/callback
GIT_REMOTE_URL=git@github.com:razorpay/gollum-setup.wiki.git
COOKIE_SECRET=e51599fb1575a94b24b948b12f37692f1ac6b3c8