# Please see https://pusher.github.io/oauth2_proxy/ for a list of all supported variables
OAUTH2_PROXY_CLIENT_ID=XXXXX.apps.googleusercontent.com
OAUTH2_PROXY_CLIENT_SECRET=XXXX-YY
OAUTH2_PROXY_PROVIDER=google
OAUTH2_PROXY_EMAIL_DOMAIN=example.com
OAUTH2_PROXY_REDIRECT_URL=https://wiki.example.com/oauth2/callback
GIT_REMOTE_URL=git@github.com:razorpay/gollum-setup.wiki.git
OAUTH2_PROXY_COOKIE_SECRET=e51599fb1575a94b24b948b12f37692f1ac6b3c8
OAUTH2_PROXY_EMAIL_DOMAINS=*
OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=true
OAUTH2_PROXY_BANNER=-
OAUTH2_PROXY_FOOTER=-
OAUTH2_PROXY_COOKIE_SECURE=false
OAUTH2_PROXY_FORCE_HTTPS=false